<!DOCTYPE html>
<html>
	<head>
		<title>ДимАуг</title>
		<link href="../static/style161.css" rel="stylesheet">
	</head>
	<body>
	<div class="header">
		<div class="content">
			<b>Диминутивчики и аугментативищи</b>
		</div>
	</div>
	<div class="menu">
		<div class="btn-group">
			<a href="/index" class="active">главная</a>
			<a href="/search" class="button2">расширенный поиск</a>
			<a href="/rules" class="button2">правила</a>
			<a class="button2">тренажёры</a>
		</div>
	</div>
	<div class="lemform">
		<div class="content">
			<form action = "/result" method = "POST">
				Поиск по форме слова: <input type='text' name='lem'>
				<input class='button' type='reset' value='Очистить'>
				<input class='button' type='submit' value='Поиск'>
			 </form>
		</div>
	</div>
	<div class="main">
		<div class="content">
			<h2>О проекте.</h2>
				<p>Справочная система, предназначенная для всех, кто хочет ознакомиться с правилами образования диминутивов и аугментативов в русском языке от существительных и прилагательных. </p>
			<h2>Возможности.</h2>
				<h3>Поиск.</h3> 
					<p>Ресурс позволяет производить поиск слова по базе данных. При помощи поиска по форме слова можно искать начальные формы (лексемы) диминутива или аугментатива, с указанием суффикса, его значения, а так же комментариев об особенностях употребления слова. Также возможен расширенный поиск по различным параметрам (суффиксы и/или их значения) и поиск по лексеме, позволяющий найти все диминутивные и аугментативные формы слова.</p>
				<h3>Русский как иностранный.</h3> 
					<p>Для преподавателей и иностранных студентов на сайте представлены правила образования диминутивов и аугментативов с примерами и ссылка на тренажеры различных типов.</p>
				<br><br>
					<p>Проект выполнен в рамках курса "Современный русский язык". 2015-2017 гг.</p>
					<p>Руководитель проекта: Рахилина Екатерина Владимировна</p>
			<h2>Этапы проекта.</h2>
				<h3>2015-2016 гг. - сбор данных.</h3> 
					<i>Над проектом работали:</i>
					<p><br>Грабовская Мария 
					<br>Горбачёв Виталий
					<br>Зинченко Елена 
					<br>Касьянова Полина 
					<br>Левин Иван 
					<br>Максимова Анастасия 
					<br>Сапожникова Мария
					<br>Созинова Ольга</p>
				<h3>2016-2017 гг. - создание базы данных, сайта и тренажёров, сбор правил.</h3> 
					<i>Над проектом работали:</i>
					<p><br>Атнагулова Залина 
					<br>Евдаева Зоя 
					<br>Клименко Светлана 
					<br>Мельник Анастасия
					<br>Пирогова Виктория 
					<br>Сонина Полина 
					<br>Степанова Алёна</p>
			<br><br><i><a class="button" href = "https://github.com/SoDipole/dim_aug" target="_blank">Проект на GitHub</a></i>
		</div>
	</div>
	</body>
</html>