<!DOCTYPE html>
<html>
	<head>
		<title>ДимАуг</title>
		<link href="../static/style114.css" rel="stylesheet">
	</head>
	<body>
	<div class="header">
		<b>Диминутивы и аугментативы</b>
	</div>
	<div class="menu">
		<div class="btn-group">
			<a href="/index" class="active">главная</a>
			<a href="/search" class="button2">расширенный поиск</a>
			<a href="/rules" class="button2">правила</a>
			<a class="button2">тренажёры</a>
		</div>
	</div>
	<div class="lemform">
		<form action = "http://localhost:5000/result" method = "POST">
			Поиск по форме слова: <input type='text' name='lem'>
			<input class='button' type='reset' value='Очистить'>
			<input class='button' type='submit' value='Поиск'>
		 </form>
	</div>
	<div class="main">
		<b>О проекте.</b>
		<br><br>
				Информационно-справочная система, предназначенная для всех, кто хочет ознакомиться с правилами образования диминутивов и аугментативов в русском языке от имён существительных и имён прилагательных. 
		<br>
		<br>
		<b>Возможности.</b>
			<h3>Поиск.</h3> 
				Ресурс позволяет производить поиск слова по базе данных. При помощи простого поиска по форме слова можно искать начальные формы (лексемы) диминутива или аугментатива, с указанием суффикса, его значения, а так же комментариев об особенностях употребления слова. Также возможен расширенный поиск по различным параметрам (суффиксы и/или их значения) и поиск по лексеме, позволяющий найти все диминутивные и аугментативные формы слова. 
		<br>
		<br>
			<h3>Русский как иностранный.</h3> 
				Для преподавателей и иностранных студентов на сайте представлены правила образования диминутивов и аугментативов с примерами и ссылки тренажеры различных типов.
		<br>
				<br>Проект выполнен в рамках курса "Современный русский язык". 2015-2017 гг. 
				<br>Руководитель проекта: Рахилина Екатерина Владимировна
		<br>
		<br><b>Этапы проекта.</b>
			<h3>2015-2016 гг. - сбор данных.</h3> 
				<i>Над проектом работали:</i>
				<br>Грабовская Мария 
				<br>Горбачёв Виталий
				<br>Зинченко Елена 
				<br>Касьянова Полина 
				<br>Левин Иван 
				<br>Максимова Анастасия 
				<br>Сапожникова Мария
				<br>Созинова Ольга
		<br>
		<br>
			<h3>2016-2017 гг. - создание базы данных, сайта и тренажёров, сбор правил.</h3> 
				<i>Над проектом работали:</i>
				<br>Атнагулова Залина 
				<br>Евдаева Зоов 
				<br>Клименко Светлана 
				<br>Мельник Анастасия
				<br>Пирогова Виктория 
				<br>Сонина Полина 
				<br>Степанова Алёна
	<br><br><i><a href = "https://github.com/SoDipole/dim_aug" target="_blank">Проект на GitHub</a></i>
	</div>
	</body>
</html>