<!DOCTYPE html>
<html>
	<head>
		<title>ДимАуг Правила</title>
		<link href="../static/style86.css" rel="stylesheet">
	</head>
	<body>
	<div class="header">
		Диминутивы и аугментативы
	</div>
	<div class="menu">
		<div class="btn-group">
			<a href="/index" class="button2">главная</a>
			<a href="/search" class="button2">расширенный поиск</a>
			<a href="/rules" class="active">правила</a>
			<a class="button2">тренажёры</a>
		</div>
	</div>
	<div class="lemform">
		<form action = "http://localhost:5000/result" method = "POST">
			Слово <input type='text' name='lem'>
			<input class='button' type='reset' value='Очистить'>
			<input class='button' type='submit' value='Поиск'>
		 </form>
	</div>
	<div class="main">
		<h3>Правила</h3>
	</div>
	</body>
</html>