<!DOCTYPE html>
<html>
	<head>
		<title>ДимАуг Поиск</title>
		<link href="../static/style.css" rel="stylesheet">
	</head>
	<body>
	<div class="header">
		Диминутивы и аугментативы
	</div>
	<div class="menu">
		<div class="btn-group">
			<a href="/index" class="button2">главная</a>
			<a href="/search" class="active">расширенный поиск</a>
			<a href="/rules" class="button2">правила</a>
			<a class="button2">тренажёры</a>
		</div>
	</div>
	<div class="lemform">
		<form action = "http://localhost:5000/result" method = "POST">
			Поиск по форме слова: <input type='text' name='lem'>
			<input class='button' type='reset' value='Очистить'>
			<input class='button' type='submit' value='Поиск'>
		 </form>	
	</div>
	<div class="main">
		<form action = "http://localhost:5000/result" method = "POST">
			<b>Лексема</b> <input type='text' name='lex'>
			<br>
			<br><b>найти только</b>
			<label><input type='radio' name='lemtype' value='d'> диминутивы</label>
			<label><input type='radio' name='lemtype' value='a'> аугментативы</label>
			<br>
			<hr>
			<b>суффиксы диминутивов</b>
			<br><br>
			{% for suffix in suffixes_d %}
			<label><input type='checkbox' name='suffix' value='{{ suffix }}'> {{ suffix }}</label>
			{% endfor %}
			<br>
			<br><b>суффиксы аугментативов</b>
			<br><br>
			{% for suffix in suffixes_a %}
			<label><input type='checkbox' name='suffix' value='{{ suffix }}'> {{ suffix }}</label>
			{% endfor %}
			<br>
			<hr>
			<b>значения суффиксов диминутивов</b>
			<br><br>
			{% for suf_meaning in suf_meanings_d %}
			<label><input type='checkbox' name='suf_meaning' value='{{ suf_meaning }}'> {{ suf_meaning }}</label>
			{% endfor %}
			<br>
			<br><b>значения суффиксов аугментативов</b>
			<br><br>
			{% for suf_meaning in suf_meanings_a %}
			<label><input type='checkbox' name='suf_meaning' value='{{ suf_meaning }}'> {{ suf_meaning }}</label>
			{% endfor %}
			<br>
			<hr>
			<br><input class='button' type='reset' value='Очистить'>
			<input class='button' type='submit' value='Поиск'>
		 </form>
	<br><br><i><a href = "https://github.com/SoDipole/dim_aug">Проект на GitHub</a></i>
	</div>
	</body>
</html>