<!DOCTYPE html>
<html>
	<head>
		<title>ДимАуг Поиск</title>
		<link href="../static/style161.css" rel="stylesheet">
	</head>
	<body>
	<div class="header">
		<div class="content">
			<b>Диминутивчики и аугментативищи</b>
		</div>
	</div>
	<div class="menu">
		<div class="btn-group">
			<a href="/index" class="button2">главная</a>
			<a href="/search" class="active">расширенный поиск</a>
			<a href="/rules" class="button2">правила</a>
			<a class="button2">тренажёры</a>
		</div>
	</div>
	<div class="lemform">
		<div class="content">
			<form action = "/result" method = "POST">
				Поиск по форме слова: <input type='text' name='lem'>
				<input class='button' type='reset' value='Очистить'>
				<input class='button' type='submit' value='Поиск'>
			 </form>
		</div>
	</div>
	<div class="main">
		<div class="content">
			<form action = "/result" method = "POST">
				<b>Лексема</b> <input type='text' name='lex'>
				<br>
				<br><b>найти только</b>
					<span class="option">
						<input type='radio' class="radio-custom" name='lemtype' value='d' id="radio-1"> 
						<label for="radio-1" class="radio-custom-label">диминутивы</label>
					</span>
					<span class="option">
						<input type='radio' class="radio-custom" name='lemtype' value='a' id="radio-2"> 
						<label for="radio-2" class="radio-custom-label">аугментативы</label>
					</span>
				<br>
				<hr>
				<b>суффиксы диминутивов</b>
				<br><br>
				{% for suffix in suffixes_d %}
					<span class="option"> 
						<input type='checkbox' class="checkbox-custom" name='suffix' value='{{ suffix }}' id='{{ suffix }}'>
						<label for="{{ suffix }}" class="checkbox-custom-label">{{ suffix }}</label>
					</span>
				{% endfor %}
				<br>
				<br><b>суффиксы аугментативов</b>
				<br><br>
				{% for suffix in suffixes_a %}
					<span class="option"> 
						<input type='checkbox' class="checkbox-custom" name='suffix' value='{{ suffix }}' id='{{ suffix }}'>
						<label for="{{ suffix }}" class="checkbox-custom-label">{{ suffix }}</label>
					</span>
				{% endfor %}
				<br>
				<hr>
				<b>значения суффиксов диминутивов</b>
				<br><br>
				{% for suf_meaning in suf_meanings_d %}
					<span class="option"> 
						<input type='checkbox' class="checkbox-custom" name='suf_meaning' value='{{ suf_meaning }}' id='{{ suf_meaning }}'> 
						<label for='{{ suf_meaning }}' class="checkbox-custom-label">{{ suf_meaning }}</label>
					</span>
				{% endfor %}
				<br>
				<br><b>значения суффиксов аугментативов</b>
				<br><br>
				{% for suf_meaning in suf_meanings_a %}
					<span class="option"> 
						<input type='checkbox' class="checkbox-custom" name='suf_meaning' value='{{ suf_meaning }}' id='{{ suf_meaning }}'> 
						<label for='{{ suf_meaning }}' class="checkbox-custom-label">{{ suf_meaning }}</label>
					</span>
				{% endfor %}
				<br>
				<hr>
				<br><input class='button' type='reset' value='Очистить'>
				<input class='button' type='submit' value='Поиск'>
			 </form>
		</div>
	</div>
	</body>
</html>